<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <label v-for="item in originHobbies" :for="item">
        <input type="checkbox" :value="item" :id="item" v-model="hobbies" />{{
          item
        }}
      </label>

      <p>{{ hobbies }}</p>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      const vm = new Vue({
        el: '#app',
        data: {
          hobbies: [],
          originHobbies: ['篮球', '足球', '羽毛球', '乒乓球', '排球']
        },

        methods: {}
      })
    </script>
    <style></style>
  </body>
</html>
